* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text";
  height: 130vh;
  background: #f5f5f7 !important;
}
.nav-bars {
  display: none;
}
.Navbar {
  background: rgba(0, 0, 0, 0.8);
}

.container-nav {
  width: 1000px;
  margin: auto;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.container-nav a {
  color: #f5f5f7;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.6s;
}

.container-nav a:hover {
  opacity: 1;
  color: white;
}

.menu ul li {
  list-style: none;
  padding: 0px 18px;
  margin-top: 15px;
  font-size: 12px;
  font-stretch: 100%;
  line-height: 40px;
  font-weight: 100 !important;
  font-kerning: auto;
  font-style: normal;
}

.uil-search {
  padding-right: 20px;
  font-size: 15px;
  margin-left: 40px;
  font-weight: 200;
}

.uil-shopping-bag {
  margin-left: 20px;
}

.Header {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.178);
  position: sticky;
  top: 0;
  background: white;
}

.container-header {
  width: 1000px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  font-stretch: 100%;
  font-kerning: auto;
  font-style: normal;
  margin-top: 15px;
}

.headerList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerList ul li {
  list-style: none;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 24px;
  font-stretch: 100%;
  font-kerning: auto;
  font-style: normal;
  padding-right: 25px;
}

.headerList {
  margin-top: 15px;
}

.headerList a {
  text-decoration: none;
  color: #000;
  opacity: 0.88;
}
.headerList a:hover {
  color: blue;
}

.disable {
  opacity: 0.6;
  cursor: default;
}

.buy {
  background: #0071e3;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 11px;
  margin-right: 20px;
  color: white;
}

.container-home {
  width: 1000px;
  margin: auto;
}

.learnmore {
  text-align: center;
  margin: auto;
  font-size: 14px;
  line-height: 1.4285914286;
  font-weight: 400;
  margin-top: 17px;
}

.learnmore a {
  text-decoration: none;
}

.main-name {
  margin: auto;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  font-stretch: 100%;
  font-kerning: auto;
  font-style: normal;
  margin-top: 50px;
  margin-right: 10px;
}

.tagline {
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  font-stretch: 100%;
  text-align: center;
  letter-spacing: -5px;
}

.tagdesc {
  text-align: center;
  width: 57%;
  margin: auto;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  font-stretch: 100%;
  font-kerning: auto;
  font-style: normal;
}

.price {
  font-size: 21px;
  font-weight: 500;
  line-height: 29px;
  color: rgb(134, 134, 139);
  text-align: center;
  margin-top: 15px;
  letter-spacing: -1px;
}

.btn-buy {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  min-width: 26px;
  padding: 10px 22px;
  border-radius: 22px;
  background: #0071e3;
  color: white;
  border: none;
  margin-top: 1.2rem;
}

.container-demo {
  width: 1000px;
  height: 40vh;
  margin: 30px auto;
  flex-direction: column;
}

.img-box {
  padding-top: 30px;
  width: 98%;
  margin: auto;
}

#main-img {
  transition: 1s ease-in-out !important;
}

.btns-box {
  width: 30%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#green {
  background: green;
  border: green;
}

.btns-box input {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #394d38;
  background: #394d38;
}

.btn-blue {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #3274a0;
}

.btn-midnight {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid black;
}

.btn-starlight {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid wheat;
}

.btn-pink {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid pink;
}

.btn-red {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid red;
}

@media only screen and (max-width: 450px) {
  .menu {
    display: none;
  }
  .container-nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .Navbar {
    font-size: 20px;
    width: 100%;
  }

  .uil.uil-search {
    display: none;
  }
  .container-header {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    height: 40px;
  }
  .name {
    font-size: 18px;
  }
  .headerList ul li {
    display: none;
  }
  .container-home {
    width: 90%;
    margin: auto;
  }
  .tagdesc {
    width: 95%;
  }
  .container-demo {
    width: 100%;
  }
  .btns-box {
    width: 90%;
  }
}

@media only screen and (min-width: 451px) and (max-width: 1000px) {
  .nav-bars {
    display: none;
  }
  .Navbar {
    width: 1000px;
  }
  .Header {
    width: 1000px;
  }
}
